<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../static/style.css">
    <link rel='preconnect' href='https://fonts.googleapis.com'>
    <link rel='preconnect' href='https://fonts.gstatic.com' crossorigin>
    <link href='https://fonts.googleapis.com/css2?family=Roboto&display=swap' rel='stylesheet'>
    <script src="../static/scripts/index.js"></script>
    <title>Terminal</title>
</head>
<body>
    <div class='header'>
        <div class='nav'>

        </div>
    </div>
    <div class='main'>

    </div>
    <div class='footer'>

        <div class='footerTop'>
            <div class='frameOne'>

                <div></div>

                <div id='pricing' class='askPrice'>

                    <p class='beforePoint'>100000.</p>
                    <p class='afterPoint'>0</p>
                    
                </div>

                <div class='lots'>
                    <p>0.00</p>
                    <div></div>
                </div>

                <div id='pricing' class='askPrice'>

                    <p class='beforePoint'>100000.</p>
                    <p class='afterPoint'>0</p>

                </div>

                <div></div>

            </div>

            <div class='frameTwo'>

                <div class='footerButtons'>
                    <div id='button' class='buttonZero' onclick="sell()">
                        <p>Sell</p>
                    </div>
                    <span></span>
                    <div id='button' class='buttonOne' onclick="buy()">
                        <p>Buy</p>
                    </div>
                </div>

            </div>

            <div class='frameThree'></div>
        </div>

    </div>

    <div class='fotterBottom'>
        
    </div>
    


</body>
</html>